@page "{id?}"
@model EditModel
@{
    ViewData["Title"] = "Manage Project";
    var layouts = Project.Layouts.Select(s => new SelectListItem { Value = s.Key.ToString(), Text = s.Value }).ToList();
    var measurements = Project.Measurements.Select(s => new SelectListItem { Value = s.Value, Text = s.Value }).ToList();
}

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            @if (!ModelState.IsValid)
            {
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">Error</h5>
                    </div>
                    <div class="card-body register-card-body">
                        <div asp-validation-summary="All" class="text text-warning"></div>
                    </div>
                </div>
            }

            <form action="" method="post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="card card-green card-outline">
                    <div class="card-header">
                        <h5 class="card-title m-0">@ViewData["Title"]</h5>
                    </div>
                    <div class="card-body register-card-body">
                        <input type="hidden" asp-for="Item.Id" />

                        <label asp-for="Item.Name">Title</label>
                        <span asp-validation-for="Item.Name" class="text-danger"></span>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Project Title" asp-for="Item.Name">
                        </div>

                        <label asp-for="Item.NumberOfFiber">Number Of Fibers</label>
                        <span asp-validation-for="Item.NumberOfFiber" class="text-danger"></span>
                        <div class="mb-3">
                            <input type="text" class="form-control" asp-for="Item.NumberOfFiber">
                        </div>

                        <label asp-for="Item.LayoutId">Fibers Layout</label>
                        <span asp-validation-for="Item.LayoutId" class="text-danger"></span>
                        <div class="mb-3">
                            <select class="form-control" asp-for="Item.LayoutId" asp-items="layouts">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <label asp-for="Item.Measurement">Type of Measurement</label>
                        <span asp-validation-for="Item.Measurement" class="text-danger"></span>
                        <div class="mb-3">
                            <select class="form-control" asp-for="Item.Measurement" asp-items="measurements">
                                <option value="">Please Select</option>
                            </select>
                        </div>

                        <label asp-for="Upload">FDD Data</label>
                        <span asp-validation-for="Upload" class="text-danger"></span>
                        <div class="mb-3">
                            <input asp-for="Upload" type="file" class="form-control">
                            <span class="form-text">Please upload zip file</span>
                        </div>

                        <label asp-for="Item.Description">Description</label>
                        <span asp-validation-for="Item.Description" class="text-danger"></span>
                        <div class="mb-3">
                            <textarea class="form-control" asp-for="Item.Description"></textarea>
                        </div>

                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
