@page "{id?}"
@model AuthModel
@{
    ViewData["Title"] = "Authentication";
    Layout = "_LayoutAnonymous";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                            <h4 class="mx-auto card-title"><span class="fa fa-user"></span> Intelligent DFOS  Characterisation System</h4>
                        @*<a class="ml-auto align-self-end btn btn-success" href="~/Users/Edit"><i class="fa fa-edit"></i> Register</a>*@
                    </div>
                </div>


                <div class="card-body register-card-body">
                    <img src="~/img/mmu.png" width="200" class="mx-auto" />
                    <img src="~/img/petronas.svg" width="200" class="mx-auto"/>

                    <p class="login-box-msg">
                        @*Sila masukkan maklumat*@
                    <div asp-validation-summary="ModelOnly" class="text text-warning"></div>
                    </p>

                    <form action="" method="post" class="needs-validation" novalidate>

                        <label asp-for="Username">Username</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username" asp-for="Username">
                        </div>
                        <label asp-for="Password">Password</label>                        
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" asp-for="Password">
                            <div class="text-right"><a href="~/users/forgot">Need help?</a></div>
                        </div>
                        <div class="row">
                            <!-- /.col -->
                            <div class="col-mb-3">
                                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                            </div>
                            <!-- /.col -->
                        </div>
                    </form>
                </div>
                <!-- /.form-box -->
                <div class="card-footer">
                    <a href="/pdf/manual.pdf" target="_blank" class="mr-1 align-self-end"><img src="/img/doc.png" width="24"> Manual</a>
                </div>
            </div><!-- /.card -->
        </div>
    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}
